<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body>
    <!-- 在页面中声明一个将要被vue所控制的DOM区域 -->
    <div id="app">
        <div class="container">
            <form action="" @submit.prevent="add">
            <div class="form-group">
                <label>添加数据</label>
                <input type="text" class="form-control" placeholder="请输入品牌" v-model.trim="name">
            </div>
            <button type="submit" class="btn btn-primary mb-3">添加</button>
        </form>
            <hr>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>品牌名称</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in list" :key="item.id">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" :id="'index'+item.id" v-model="item.status">
                                <label class="form-check-label" :for="'index'+item.id">{{item.status? '已启用':'已禁用'}}</label>
                            </div>
                        </td>
                        <td>{{item.time}}</td>
                        <td><a href="javascript:;" @click="dlt(item.id)">删除</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 导入vue.js 的 script脚本文件 -->
    <script src="vue.js"></script>
    <script>
        //创建vm实例对象
        const vm = new Vue({
            //指定当前VM实例要控制页面哪个区域
            el: '#app',
            //指定model数据源
            data: {
                name:'',
                nextId:4,
                list:[
                    {
                        id:1,
                        name:'BENZ',
                        status:true,
                        time:new Date(),
                    },
                    {
                        id:2,
                        name:'BMW',
                        status:false,
                        time:new Date(),
                    },
                    {
                        id:3,
                        name:'PORSCHE',
                        status:true,
                        time:new Date(),
                    },
                ]
            },
            methods: {
                dlt(id){
                this.list = this.list.filter(item=>item.id !== id)
                },
                add(){
                    if(this.name){
                        this.list.push({
                        id:this.nextId,
                        name: this.name,
                        status:false,
                        time:new Date()
                    })
                    this.nextId++;
                    this.name = '';
                    }else{
                        alert('请输入品牌名');
                        return;
                    }
                }
                }
        })
    </script>
</body>

</html>