<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 在页面中声明一个将要被vue所控制的DOM区域 -->
    <div id="app">
        <p>用户名是:{{username}}</p>
        <input type="text" v-model="username">
        <p>被选中的省份是:{{province}}</p>
        <select name="" id="" v-model="province">
            <option value="">请选择</option>
            <option value="Hobart">Hobart</option>
            <option value="Sydney">Sydney</option>
            <option value="Melbourne">Melbourne</option>
        </select>
        <hr>
        <input type="radio" name="city" value="mel" v-model="province">
        <input type="radio" name="city" value="shanghai" v-model="province">
        <hr>
        <label for="cd1">复选框</label>
        <input type="checkbox" v-model="flag" id="cd1">
    </div>
    <!-- 导入vue.js 的 script脚本文件 -->
    <script src="vue.js"></script>
    <script>
        //创建vm实例对象
        const vm = new Vue({
            //指定当前VM实例要控制页面哪个区域
            el:'#app',
            //指定model数据源
            data:{
            username:'Mike',
            province:"Hobart",
            flag:true
            },
            methods:{
            }
        })
    </script>
</body>
</html>